In [1]:
import pandas as pd

In [23]:
data = pd.read_csv('../data/raw_data', skiprows=3)
data = data.drop(['Unnamed: 0', 'result', 'table'], axis=1)
data

,_start,_stop,_time,_value,_field,_measurement,zählername
0,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2022-09-01T00:15:00Z,4447.924999,counter,stromzaehler,Hausanschluss
1,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2022-09-01T00:30:00Z,4448.149197,counter,stromzaehler,Hausanschluss
2,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2022-09-01T00:45:00Z,4448.391416,counter,stromzaehler,Hausanschluss
3,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2022-09-01T01:00:00Z,4448.619568,counter,stromzaehler,Hausanschluss
4,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2022-09-01T01:15:00Z,4448.845053,counter,stromzaehler,Hausanschluss
...,...,...,...,...,...,...,...
34018,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2023-08-31T21:15:00Z,6756.948733,counter,stromzaehler,Hausanschluss
34019,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2023-08-31T21:30:00Z,6757.162733,counter,stromzaehler,Hausanschluss
34020,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2023-08-31T21:45:00Z,6757.420233,counter,stromzaehler,Hausanschluss
34021,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2023-08-31T22:00:00Z,6757.659178,counter,stromzaehler,Hausanschluss
34022,2022-09-01T00:00:00Z,2023-09-01T00:00:00Z,2023-08-31T22:15:00Z,6757.816725,counter,stromzaehler,Hausanschluss

In [27]:

target = data['_value']
features = data['_time']
display(target)
display(features)

0        4447.924999
1        4448.149197
2        4448.391416
3        4448.619568
4        4448.845053
            ...
34018    6756.948733
34019    6757.162733
34020    6757.420233
34021    6757.659178
34022    6757.816725
Name: _value, Length: 34023, dtype: float64

0        2022-09-01T00:15:00Z
1        2022-09-01T00:30:00Z
2        2022-09-01T00:45:00Z
3        2022-09-01T01:00:00Z
4        2022-09-01T01:15:00Z
                 ...
34018    2023-08-31T21:15:00Z
34019    2023-08-31T21:30:00Z
34020    2023-08-31T21:45:00Z
34021    2023-08-31T22:00:00Z
34022    2023-08-31T22:15:00Z
Name: _time, Length: 34023, dtype: object